/*this is desktop view*/
body{
	background: pink;
}
.maindiv{
	background: #F7D0F6;
	justify-content: space-around;
	display:flex; 
	margin: 5%;
}
.leftdiv{
	background: #F7DE92;
	 margin: 4%;
	border-radius: 5%;
	box-shadow: 4px 4px 4px 4px;
	width: 25%;
	height:40%;
	padding: 2%;
	text-align: center;
}
.rightdiv{
	background: #D1FBF5;
	margin: 4%;
	border-radius: 5%;
	box-shadow: 4px 4px 4px 4px;
	width: 60%;
	padding: 2%

}
img{
	width: 70%;
	height: 40%;
	margin: 10%;
	border-radius: 15%;
	justify-content: space-around;
}
/*this is mobile view*/
@media screen and (min-width: 320px) and (max-width: 480px) {
body{
	background:#F7D0F6;
}
.maindiv{
	background:pink;
	justify-content: space-around;
	display:inline-block; 
	margin: 2%;
	width: 96%;
}
.leftdiv{
	background:  #D1FBF5;
	 margin: 2%;
	border-radius: 2%;
	box-shadow: 4px 4px 4px 4px;
	width: 88%;
	height:40%;
	padding: 2%;
	text-align: center;


}
.rightdiv{
	background:#F7DE92;
	margin: 2%;
	border-radius: 2%;
	box-shadow: 4px 4px 4px 4px;
	width: 88%;
	padding: 2%

}
img{
	width: 70%;
	height: 40%;
	margin: 10%;
	border-radius: 15%;
	justify-content: space-around;
}
#table{
	overflow-x:auto;
}
}
/*this is for tab view*/
@media screen and (min-width: 481px) and (max-width: 680px) {
body{
	background: #D1FBF5;
}
.maindiv{
	background:pink;
	justify-content: space-around;
	display:inline-block; 
	margin: 2;
	width: 96%;
	border-radius: 2%;
}
.leftdiv{
	background:#F7D0F6;
	margin: 2%;
	border-radius: 2%;
	box-shadow: 4px 4px 4px 4px;%;

	width: 88%;
	height:40%;
	padding: 2%;
	text-align: center;
}
.ld2{
 display:flex;
}

p{padding:2%;}
a{padding:3%;}
.rightdiv{
	background:#F7DE92;
	margin: 2%;
	border-radius: 2%;
	box-shadow: 4px 4px 4px 4px;
	width: 88%;
	padding: 2%
  
}
img{
	width: 70%;
	height: 40%;
	margin: 10%;
	border-radius: 15%;
	justify-content: space-around;
}
table{
	overflow-x: auto;
}
}
